@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.cmp-budgetTracker{
    width: 100%;
    min-height: 100vh;
    background-color: #F5F7FA;
    padding: 30px;
    &__container{
        max-width: 1200px;
        margin: auto;
        &__transactionHeading{
            text-align: center;
            font-size: 24px;
            margin-bottom: 15px;
            text-decoration: underline solid #393E46 2px;
        }     
        &__heading{
            margin: 10px auto 40px auto;
            color: black;
            text-align: center;
            &--title{                
                font-size: 30px;
                font-weight: 500;
            }
            &--subtitle{
                font-size: 20px;
                font-weight: 300;                
            }
        }  
        &__transactionControl{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 30px auto;
            gap: 10px;     
            &__actions{
                flex-grow: 1;
                background-color: white;
                padding: 20px;
                box-shadow: 2px 2px 3px #b2adad;
                border-radius: 10px;
                margin: 0px 10px;
                &__add{
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    input{
                        font-size: 18px;
                        padding: 5px;
                        margin: 10px;
                    }
                    &--errorText{
                        color: red;
                        padding-left: 11px;
                        font-size: 12px;
                    }
                    &--submit{
                        padding: 7px 15px;
                        border-radius: 5px;
                        border: 0px;
                        background-color: #2666CF;
                        color: white;
                        cursor: pointer;                        
                    }
                }
            }
            &__statistics{
                flex-grow: 1;
                background-color: white;
                padding: 20px;
                box-shadow: 2px 2px 3px #b2adad;
                margin: 0px 10px;
                border-radius: 10px;
                P{
                    margin: 15px 10px;
                    padding: 10px 20px;
                    font-size: 18px;
                    border-radius: 5px;
                    text-align: center;
                }
                &--balance{
                    background-color: #FFF2dd92;
                    border-right: 10px solid #F6C065;
                }
                &--income{
                    background-color: #e7fff1ad;
                    border-right: 10px solid #16c77a;
                }
                &--expense{
                    background-color: #ffeef0bb;
                    border-right: 10px solid #EB596E;
                }
            }
        }
        &__transactionHistory{
            margin: 40px 10px;
            background-color: white;
            border-radius: 10px;
            padding: 30px 0px;
            box-shadow: 2px 2px 3px #b2adad;
            &__record{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 20px;
                margin: 10px;
                &__subheading{
                    text-align: center;
                    text-decoration: underline solid #393E46 2px;
                }
                &__list{
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    padding: 10px;
                    margin: 12px 0px;
                    min-width: 250px;
                    box-shadow: 2px 2px 3px #b2adad;
                    border-left: 10px solid #2ECC71;
                    &__expense{
                        border-left: 10px solid red;
                    }          
                    &__para{
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        &--time{
                            color: #717171;
                            font-size: 12px;
                        }
                    }
                    &--delete{
                        font-weight: 600;
                        margin-left: 15px;
                        color: #082032;
                        cursor: pointer;
                        padding: 4px 0px;
                    }
                    &--delete:hover{
                        color: #B42B51;
                    }
                    // &__expense{
                    //     border-left: 10px solid #DF5E5E;
                    // }
                }                
                &__income{
                    flex-grow: 1;
                    padding: 10px;
                }
                &__expense{
                    flex-grow: 1;
                    padding: 10px;
                }
            }            
        }
    }
}